:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-background-color: #000;
  --primary-text-color: #fff;
  --border-color: #eee;
  --card-bg-color: rgba(100, 100, 100, 0.3);

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;

  --spacing-04: 0.25rem;
  --spacing-08: 0.5rem;
  --spacing-12: 0.75rem;
  --spacing-16: 1rem;
  --spacing-20: 1.25rem;
  --spacing-24: 1.5rem;
  --spacing-32: 2rem;
  --spacing-40: 2.5rem;
  --spacing-48: 3rem;
  --spacing-64: 4rem;

  --font-size-3xl: 2.5rem;
  --font-size-2xl: 2rem;
  --font-size-xl: 1.5rem;
  --font-size-lg: 1.25rem;
  --font-size-md: 1rem;
  --font-size-sm: 0.875rem;
  --font-size-xs: 0.75rem;
  --font-size-2xs: 0.6875rem;
  --font-size-3xs: 0.625rem;
  --font-size-base: 0.8125rem;
  --font-size-jumbo: 3rem;
  --font-size-huge: 2rem;
  --font-size-large: 0.9375rem;
  --font-size-lead: 0.875rem;
  --font-size-small: 0.6875rem;
  --font-size-tiny: 0.5625rem;

  --header-height: 100px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin-block-end: var(--spacing-08);
  color: var(--primary-text-color);
}

p, b, i {
  margin-block-end: var(--spacing-08);
}

button {
  cursor: pointer;
  text-transform: uppercase;
  padding: var(--spacing-08);
  border: none;
  background-color: white;
  font-weight: 600;
  letter-spacing: 2px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.mainContent {
  max-width: var(--max-width);
  margin: auto;
  padding-block-start: var(--header-height);
  color: #fff;
}


.card {
  position: relative;
  padding: var(--spacing-12);
  margin: var(--spacing-16);
}

.card::before {
  background-color: var(--card-bg-color);
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(10px);
}

.card > * {
  position: relative;
  z-index: 2;
}

.roundButtonJumbo {
  padding: unset;
  height: 250px;
  width: 250px;
  min-height: 250px;
  min-width: 250px;
  line-height: 250px;
  background-color: white;
  border-radius: 50%;
  font-size: 30px;
  font-weight: 200;
  letter-spacing: 4px;
}

.roundButton {
  padding: unset;
  height: 100px;
  width: 100px;
  min-height: 100px;
  min-width: 100px;
  line-height: 100px;
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  font-size: 8px;
  font-weight: 800;
  letter-spacing: 3px;
}

.fullBGpicture {
  /* background: url('/destination/background-destination-desktop.jpg') no-repeat; */
  /* background-color: #000; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  height: 100%;
}

.fullBGpicture::before {
  content: "";
  background: url('/destination/background-destination-desktop.jpg') no-repeat;
  background-color: #000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.fullBGpicture > main {
  overflow: auto;
}