.footer {
  inset-inline-start: 0;
  inset-inline-end: 0;
  inset-block-end: 0;
  background-color: #eee;
  color: #000;
  padding: var(--spacing-20) var(--spacing-40);
  display: flex;
  justify-content: space-between;
}

.hidden {
  display: none;
}

.footer h3 {
  color: #000;
  font-size: large;
  padding: var(--spacing-08) 0;
}

.footer p, .footer a, .footer li {
  color: #000;
  font-size: medium;
  font-weight: 200;
  text-align: start;
}

.footerDescription {
  max-width: 300px;
  text-align: start;
}

.footerDescription p {
  margin-block-end: var(--spacing-20);
}

.footerLinks {
  gap: var(--spacing-20);
}

.footerList {
  list-style-type: none;
}

.footerList li {
  padding-block: var(--spacing-04);
}
